{% extends "base.html" %}
{% block title %}Welcome to Subscription Trader{% endblock title %}

{% block content %}
<main>
    <div class="branding">
        <h2>RKB</h2>
    </div>
    <p class="tagline">Get access to all the streaming services you want!</p>
    <div class="service-logos">
        <!-- Service logos here -->
    </div>
    <div class="cta-signup">
        <a href="{% url 'rkb-products' %}" class="signup-button">Sign up</a>
    </div>
    <p class="slogan">Subscribe. Share. Save.</p>
    <div class="how-it-works">
        <a href="{% url 'rkb-products' %}">How it works</a>
    </div>
</main>
{% endblock content %}