body, html {
    height: 100%;
    margin: 0;
}


/* Increases specificity to ensure styles are applied */
.navbar-dark.bg-dark .navbar-nav .nav-link, .navbar-dark.bg-dark .navbar-brand {
    color: #000000 !important; /* Sets text color to black */
}
/* Customizes the navbar background color */
.navbar.bg-dark {
    background-color: #ffffff !important; /* Example: Changes to white for contrast */
}

.navbar-nav .nav-item.active .nav-link {
    color: #ffffff; /* Example: white color for active state */
    background-color: #007bff; /* Example: light blue background for active state */
}



.home-navbar {
    overflow: hidden;
    backdrop-filter: blur(10px); /* Optional: Add a blur effect for a frosted glass look */
}

.navbar-brand {
    color: rgb(0, 0, 0) !important; /* Ensure high contrast against the background */
}

/* Ensure nav-link text stands out over the background image */
.navbar-dark .navbar-nav .nav-link {
    color: rgb(0, 0, 0) !important; /* Ensure high contrast against the background */
}

/* Add underline effect on hover */
.navbar-dark .navbar-nav .nav-link:hover {
    text-decoration: underline;
}

.home-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
}